@import "tailwindcss";

@theme {
  --color-grey-green: #829B91;
  --color-green-hover: #6D7B75;
  --color-main: #101828;
  --color-white: #FFFFFF;
  --color-inputs: #F7F7F7;
  --color-badges: #F2F4F7;
  --color-rating: #FFC531;
  --color-gray: #6C717B;
  --color-white: #FFFFFF;
  --color-text: #475467;
  --color-gray-light: #DADDE1;
}

body {
  background-color: white;
  color: #101828;
}